<div class="container">
  <div class="main-search">
    <input type="text" placeholder="Search" (input)="onSearch($event)">
    <button>
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
  
  <div class="top-section">
    <h1 class="page-title">Blog list</h1>
    
    <div class="top-right-controls">
      <button class="add-blog-btn" routerLink="/addblog">Add Blog</button>
      <div class="status-filter">
        <div class="filter-text">Status: {{ currentStatus }}</div>
        <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 5L11 1" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="status-dropdown">
          <div class="status-option" (click)="filterByStatus('All')">All</div>
          <div class="status-option published" (click)="filterByStatus('Published')">Published</div>
          <div class="status-option draft" (click)="filterByStatus('Draft')">Draft</div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="blog-table-container">
    <table>
      <thead>
        <tr>
          <th style="width: 40px"></th>
          <th style="width: 200px">Title</th>
          <th style="width: 120px">Author</th>
          <th style="width: 100px">Category</th>
          <th style="width: 140px">Last Modified</th>
          <th style="width: 100px">Status</th>
          <th style="width: 80px">Views</th>
          <th style="width: 80px">Likes</th>
          <th style="width: 80px">Comments</th>
          <th style="width: 40px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of filteredBlogs">
          <td class="trash-icon">
            <div class="delete-icon" (click)="deleteBlog(blog._id)">
              <i class="fa-solid fa-trash-can"></i>
            </div>
          </td>
          <td>{{ blog.Title }}</td>
          <td>{{ blog.Author }}</td>
          <td>{{ blog.Category }}</td>
          <td>{{ blog.UpdatedAt }}</td>
          <td [ngClass]="{'status-published': blog.Status === 'Published', 'status-draft': blog.Status === 'Draft'}">
            {{ blog.Status }}
          </td>
          <td>{{ blog.Views }}</td>
          <td>{{ blog.Likes }}</td>
          <td>{{ blog.Comments }}</td>
          <td class="actions-menu">⋮
            <div class="actions-dropdown">
              <div class="action-option" (click)="deleteBlog(blog._id)">Delete</div>
              <div class="action-option" (click)="viewDetail(blog)">Edit</div>              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pagination">
    <div class="pagination-info">Showing {{ filteredBlogs.length > 0 ? 1 : 0 }} to 
      {{ filteredBlogs.length > 5 ? 5 : filteredBlogs.length }} of {{ filteredBlogs.length }} entries</div>
    <div class="pagination-controls">
      <div class="pagination-button previous">Previous</div>
      <div class="pagination-button active">1</div>
      <div class="pagination-button" *ngIf="filteredBlogs.length > 5">2</div>
      <div class="pagination-button" *ngIf="filteredBlogs.length > 10">3</div>
      <div class="pagination-button next" *ngIf="filteredBlogs.length > 5">Next</div>
    </div>
  </div>
</div>