<body>
    <div id="content_container">
        <div id="form_container">
            <div id="form_header_container">
                <h2 id="form_header"> Đăng nhập </h2>
            </div>
            <div id="form_content_container">
                <div id="form_content_inner_container">
                    <input type="email" id="email" placeholder="Email">
                    <input type="password" id="password" placeholder="Mật khẩu">

                    <div id="button_container">
                        <button onclick="login()">Đăng nhập</button>
                        <button onclick="register()">Đăng ký</button>
                    </div>
                    <div class="div-5">
                        <h4 onClick="forgetPassword()">Quên mật khẩu?</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>